@import url('https://fonts.googleapis.com/css2?family=Lato&family=Sofia+Sans&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c7ddeb;
    color: black;
}
nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-inline-start: 0px;
}
nav ul li {
    border: 1px solid black; 
}

.rounded-left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.rounded-right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

header h2 {
    margin-left: 155px;
}

header {
    border: 1px solid black;
    border-radius: 20px;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    display: block; /*Makes it fill the whole box */
    padding: 1rem;
    color: black; 
}

nav a:hover {
    color: white;
}

nav ul li:hover {
    background-color: #2671ab;
    color: white; 
}

.active {
    background-color: #2671ab; 
    color: white;
    text-decoration: none;
}

div img {
    width: 150px;
    height: 150px;
    justify-content: center;
    margin-top: 20px;
}

.active-left {
    background-color: #2671ab; 
    color: white;
    text-decoration: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.active-right {
    background-color: #2671ab; 
    color: white;
    text-decoration: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

footer h3 {
    border: 1px black solid;
    border-radius: 20px;
    padding: 1rem;
}

div p {
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 1rem;
    max-width: 400px; 
    font-family: 'Sofia-Sans', sans-serif;
}

section {
    display: grid;
    grid-template-areas: "s1"
                          "s2";
}

#persona-one {
    grid-area: s1;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}


#persona-two {
    grid-area: s2;
    max-width: 400px;
}

.blue-example {
    justify-content: center;
    background-color: #2671ab;
    color: white;
    font-family: 'Lato', sans-serif;
}

.primary-alternate {
    background-color: #7093a9;
    color: white;
    font-family: 'Lato', sans-serif;
}

.secondary-alternate {
    background-color: #376a91;
    color: white;
    font-family: 'Lato', sans-serif;
}

@media screen and (min-width: 640px) {
    nav ul {
        flex-direction: row;
    }
}