table {
    border: 1px black solid;
    box-shadow: 0 0 7px rgb(245, 245, 190);;
}

th, td {
    padding: 0.2rem;
    border: 1px black solid;
    border-collapse: collapse;
}

th {
    background-color: burlywood;
    font-size: larger;
}

td {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: beige;
}

tbody tr:nth-child(odd) {
    background-color: rgb(245, 245, 190);
}

caption {
    caption-side: bottom;
}