@import url('https://fonts.googleapis.com/css2?family=Lato&family=Sofia+Sans&display=swap');

:root {
    --main-color: #2671ab;
    --alternate-color: #7093a9;
    --final-alternate: #376a91; 
    --main-background: #c7ddeb;
    --display-font-family: 'Lato', sans-serif; 
    --paragraph-font-family: 'Sofia-Sans', sans-serif; 
}

header, footer {
    display: flex;
    justify-content: center;
    background-color: var(--final-alternate);
    font: var(--display-font-family);
    padding-bottom: 10px;
}

header a {
    text-decoration: none;
    color: white;
}

header img, footer img {
    height: 100px;
    width: 100px;
    padding-top: 5px; 
}

section {
    display: grid;
}

header h1 {
    max-width: 400px;
    color: white;
    padding-left: 20px;
    z-index: 1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: var(--main-background); */
    font: var(--paragraph-font-family);
}

/* body {
    background-color: var(--main-background);
} */

.text-divides {
    /* display: block; */
    border: 1px black solid; 
    padding: 10%;
    margin-top: 20px; 
    min-width: 300px; 
}

.text-divides img {
    width: 350px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

#weather img {
    width: 300px;
}

#logo-img{
    width: 50px;
    margin-top: 60px;
    margin-left: 60px;
    position: absolute; 
    z-index: 2;
}

#hero-text {
    background-color: var(--final-alternate);
    font-family: var(--paragraph-font-family);
    color: white;
    max-width: 100px;
    border-radius: 20px;
    padding: 0.5rem;
    margin-left: 290px;
    margin-top: 230px;
    position: absolute;
    z-index: 2;

}

#hero-text:hover {
    background-color: var(--alternate-color);
    color: black;
}

#navbar {
    display: none;
}

#menu-open {
    display: none;
}

#menu-close {
    display: inline; 
}

#navbar.menu-active {
    display: flex;
}

#menu-open.menu-active {
    display: inline;
}

#menu-close.menu-active {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    padding: 1rem; 
    list-style: none;
    background-color: var(--final-alternate);
    color: white;
    padding-inline-start: 0px;
    margin-block: 0px;
    width: 100%;
}

nav ul li {
    border: 1px solid black;
    width: 100%;
    padding: 1rem; 
    margin-bottom: 2px;
    border-radius: 20px;
}

nav ul li:hover {
    background-color: var(--alternate-color);
}

button {
    background-color: var(--alternate-color);
    color: white;
    border: 0;
    font-size: 2rem;
}

.spotlight {
    border: 1px solid black;
    margin-top: 20px; 
    min-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.spotlight img {
    width: 200px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

footer {
    color: white;
    font-family: var(--display-font-family);
}

footer h3 {
    margin-top: -20px;
}

footer h4 {
    margin-top: -10px;
}

footer h5 a {
    text-decoration: none;
    color: white;
    margin-top: -10px;
}

footer h5 a:hover {
    background-color: var(--alternate-color);
}

#join {
    display: none;
}

.spotlight-3 {
    display: none;
}

#meet-greet {
    display: none;
}

#meet-greet.active {
    display: block;
    background-color: var(--final-alternate);
    padding: 0px;
    margin: 0px;
    color: white;
}

#margin-modifiers {
    margin-top: 10px;
}

#weather {
    display: none;
}

#spotlight {
    margin: 90px;
}

#hero {
    position: relative;
    border-radius: 20px;
}

#event div {
    text-align: center;
}

#last-modified {
    min-width: 200px;
    background-color: var(--final-alternate);
    color: white;
    text-align: center;
    margin-top: -20px;
    margin-left: 70px;
    font-family: var(--display-font-family);
}

body {
    margin: 0px;
}

#join-button {
    background-color: var(--final-alternate);
    font-family: var(--paragraph-font-family);
    display: flex;
    color: white;
    max-width: 100px;
    border-radius: 20px;
    padding: 0.5rem;
}

#join-button:hover {
    background-color: var(--alternate-color);
    color: black;
}

/* header nav {
    z-index: 1;
} */
