@import url('https://fonts.googleapis.com/css2?family=Lato&family=Sofia+Sans&display=swap');

:root {
    --main-color: #2671ab;
    --alternate-color: #7093a9;
    --final-alternate: #376a91; 
    --main-background: #c7ddeb;
    --display-font-family: 'Lato', sans-serif; 
    --paragraph-font-family: 'Sofia-Sans', sans-serif; 
}

header, footer {
    display: flex;
    justify-content: center;
    background-color: var(--final-alternate);
    font: var(--display-font-family);
    padding-bottom: 10px;
}

header a {
    text-decoration: none;
    color: white;
}

header img, footer img {
    height: 100px;
    width: 100px;
    padding-top: 5px; 
}


header h1 {
    max-width: 400px;
    color: white;
    padding-left: 20px;
    z-index: 1;
}

main {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: var(--main-background); */
    font: var(--paragraph-font-family);
}


div form {
    grid-column: 1/1;
    grid-row: 1/2;
}

/* main div {
    display: flex;
    flex-direction: column;
} */

#hero-text {
    background-color: var(--final-alternate);
    font-family: var(--paragraph-font-family);
    color: white;
    max-width: 100px;
    border-radius: 20px;
    padding: 0.5rem;
    margin-left: 290px;
    margin-top: 230px;
    position: absolute;
    z-index: 2;

}

#hero-text:hover {
    background-color: var(--alternate-color);
    color: black;
}

#navbar {
    display: none;
}

#menu-open {
    display: none;
}

#menu-close {
    display: inline; 
}

#navbar.menu-active {
    display: flex;
}

#menu-open.menu-active {
    display: inline;
}

#menu-close.menu-active {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    padding: 1rem; 
    list-style: none;
    background-color: var(--final-alternate);
    color: white;
    padding-inline-start: 0px;
    margin-block: 0px;
    width: 100%;
}

nav ul li {
    border: 1px solid black;
    width: 100%;
    padding: 1rem; 
    margin-bottom: 2px;
    border-radius: 20px;
}

nav ul li:hover {
    background-color: var(--alternate-color);
}

button {
    background-color: var(--alternate-color);
    color: white;
    border: 0;
    font-size: 2rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

footer {
    color: white;
    font-family: var(--display-font-family);
}

footer h3 {
    margin-top: -20px;
}

footer h4 {
    margin-top: -10px;
}

footer h5 a {
    text-decoration: none;
    color: white;
    margin-top: -10px;
}

footer h5 a:hover {
    background-color: var(--alternate-color);
}

label {
    margin-top: 30px;
    font-family: var(--display-font-family);
}

input {
    margin-bottom: 20px;
    font-family: var(--paragraph-font-family);
}


#join-button {
    background-color: var(--final-alternate);
    font-family: var(--paragraph-font-family);
    display: flex;
    color: white;
    max-width: 100px;
    border-radius: 20px;
    padding: 0.5rem;
    margin-left: 45px;
}

#join-button:hover {
    background-color: var(--alternate-color);
    color: black;
}
textarea {
    margin-bottom: 20px;
}

header {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    border-radius: 20px;
    margin-bottom: 10px;
}

/* a:hover {
    background-color: var(--main-color);
} */

#description {
    justify-content: center;
    align-items: center;
    background-color: var(--final-alternate);
    padding: 0.5rem;
    margin: 20px;
    max-width: 400px;
    border: 1px solid black;
    border-radius: 20px;
    color: white;
    margin-left: 100px;
}

#bronze {
    color: burlywood;
}

#silver {
    color: silver;
}

#gold {
    color: gold;
}

#join-submit {
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
    padding: 0.5rem;
    border-radius: 20px;
    margin-bottom: 10px;

}

#join-submit:hover {
    background-color: var(--alternate-color);
    color: black;
}

@media screen and (min-width: 800px) {
    #navbar {
        display: flex;
    }
    
    #menu-open {
        display: flex;
    }
    
    #menu-close {
        display: inline; 
    }
    
    #navbar.menu-active {
        display: flex;
    }
    
    #menu-open.menu-active {
        display: inline;
    }
    
    #menu-close.menu-active {
        display: none;
    }
    
    button {
        display: none;
    }

    #description {
        margin-top: -190px;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        padding: 1rem; 
        list-style: none;
        background-color: var(--final-alternate);
        color: white;
        padding-inline-start: 0px;
        margin-block: 0px;
        width: 100%;
    }
    
    nav ul li {
        border: 1px solid black;
        width: 100%;
        padding: 1rem; 
        margin-bottom: 2px;
        border-radius: 20px;
    }
    
    nav ul li:hover {
        background-color: var(--alternate-color);
    }

    main {
        flex-direction: row;
    }
}
