@media screen and (min-width: 900px) {
    main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
        grid-template-rows: 200px 200px 200px 200px 200px 200px;
    }
    
    header h1 {
        display: block;

    }

    header {
        background-color: var(--final-alternate);
    }

    #hero {
        grid-column: 2/2;
        grid-row: 1/2;
        padding-right: 110px;
        padding-left: 110px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: -120px;
        width: 1000px;
        margin-top: 200px;

    }

    #hero img {
        width: 500px;
    }

    #logo-img {
        margin-top: 20px;
        margin-left: 20px;
    }

    #spotlights img {
        width: 300px;
        height: 150px;
    }

    #spotlights {
        grid-row: 4/4;
        grid-column: 3/4;
        /* margin-top: 1020px; */
        display: grid;
        /* margin-bottom: 100px; */
        margin-left: 50px;
        padding: 1rem; 
        margin-top: 20%;
        margin-bottom: 10%;
    }

    #spotlights div {
        justify-content: center;
        align-items: center;
        border: 1px black solid;
        border-radius: 20px;
        margin-top: 20px;
        padding: 1rem; 

    }

    div {
        display: flex;
        flex-direction: column;
    }

    #hero-text {
        margin-top: 300px;
        margin-left: 390px;
    }

    #event {
        grid-column:1/1;
        grid-row: 1/2;
        width: 400px;
        padding-bottom: 100px;
        margin-top: 170px;
        border-radius: 20px;
        margin-bottom: 30px;
    }

    #weather {
        grid-column: 1/1;
        grid-row: 4/5;
        min-width: 0px;
        margin-left: 0px;
        width: 300px;
        padding-bottom: 100px;
        margin-bottom: 10px;
        display: grid;
        margin-top: -100px;
        border-radius: 20px;
    }

    #weather-icon {
        max-height: 50px;
        max-width: 50px;
    }

    #weather h2{
        padding-top: 10px; 
    }

    #join {
        grid-column: 1/1;
        grid-row: 6/6;
        width: 400px;
        padding-bottom: 100px;
        border-radius: 20px;
        margin-bottom: 90px;
    }

    .spotlight-3 {
        margin-bottom: 250px;
    }

    #news-release {
        grid-column: 2/2;
        grid-row: 3/4;
        max-width: 500px;
        padding-bottom: 100px;
        margin-left: -120px;
        border-radius: 20px;
        margin-top: 240px;
    }

    
    .text-divides {
        padding: 0.3rem;
        justify-content: center;
        max-width: 300px;
    }
    .spotlight-3 {
        display: block;
        border: 1px solid black;
        margin-top: 20px; 
        min-width: 200px;
        min-height: 200px;
        display: flex;
        justify-content: center;
    }
    
    #navbar {
        display: flex;
    }
    
    #menu-open {
        display: flex;
    }
    
    #menu-close {
        display: inline; 
    }
    
    #navbar.menu-active {
        display: flex;
    }
    
    #menu-open.menu-active {
        display: inline;
    }
    
    #menu-close.menu-active {
        display: none;
    }
    
    button {
        display: none;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        padding: 1rem; 
        list-style: none;
        background-color: var(--final-alternate);
        color: white;
        padding-inline-start: 0px;
        margin-block: 0px;
        width: 100%;
    }
    
    nav ul li {
        border: 1px solid black;
        width: 100%;
        padding: 1rem; 
        margin-bottom: 2px;
        border-radius: 20px;
    }
    
    nav ul li:hover {
        background-color: var(--alternate-color);
    }
}