@media screen and (min-width: 800px) {
    main {
        display: grid;
        grid-template-areas: "s1 s2 s2 s3"
                              "s4 s2 s2 s3"
                              "s5 s6 s6 s3";
    }
    
    header h1 {
        display: block;

    }

    header {
        background-color: var(--final-alternate);
    }

    #hero {
        grid-area: s2;
        margin-left: 20px;
        padding-right: 110px;
        padding-left: 110px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100px;
        margin-top: -430px;
        margin-left: -30px;
    }

    #logo-img {
        margin-top: 20px;
        margin-left: 20px;
    }
    .text-divides img  {
        width: 500px;
    }

    #spotlight img {
        width: 200px;
    }

    .spotlight {
        padding: 0rem;

    }

    #hero-text {
        margin-top: 300px;
        margin-left: 390px;
    }
    .spotlight-3 {
        border: 1px solid black;
        margin-top: 20px; 
        min-width: 300px;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .spotlight-3 img {
        width: 200px;
    }

    #event {
        grid-area: s1;
        width: 400px;
        padding-bottom: 100px;
        margin-top: 10px;
    }

    #weather {
        grid-area: s4;
        margin-bottom: 0px;
        min-width: 0px;
        margin-left: 0px;
        width: 300px;
        padding-bottom: 100px;
        margin-bottom: 10px;
        display: grid;
        margin-top: 10px;
    }

    #weather h2{
        padding-top: 10px; 
    }

    #join {
        grid-area: s5;
        width: 400px;
         margin-top: 10px;
        padding-bottom: 100px;
    }

    #news-release {
        grid-area: s6;
        margin-left: 20px;
        max-width: 500px;
        padding-bottom: 100px;
        margin-top: -800px;
        margin-left: -30px;
    }

    #spotlight {
        grid-area: s3;
        display: flex;
        flex-direction: column;
        max-width: 250px; 
        margin-top: -70px;
        margin-left: -60px;
        border: 0px;
    }
    
    .text-divides {
        padding: 0.3rem;
        justify-content: center;
        max-width: 300px;
    }
    .spotlight-3 {
        display: block;
        border: 1px solid black;
        margin-top: 20px; 
        min-width: 200px;
        min-height: 200px;
        display: flex;
        justify-content: center;
    }
    
    #navbar {
        display: flex;
    }
    
    #menu-open {
        display: flex;
    }
    
    #menu-close {
        display: inline; 
    }
    
    #navbar.menu-active {
        display: flex;
    }
    
    #menu-open.menu-active {
        display: inline;
    }
    
    #menu-close.menu-active {
        display: none;
    }
    
    button {
        display: none;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        padding: 1rem; 
        list-style: none;
        background-color: var(--final-alternate);
        color: white;
        padding-inline-start: 0px;
        margin-block: 0px;
        width: 100%;
    }
    
    nav ul li {
        border: 1px solid black;
        width: 100%;
        padding: 1rem; 
        margin-bottom: 2px;
        border-radius: 20px;
    }
    
    nav ul li:hover {
        background-color: var(--alternate-color);
    }
}