/* Hamburger Menu Stuff */
#navbar {
    display: none; 
}

#menu-open {
    display: none; 
}

#menu-close {
    display: inline;
}


#navbar.menu-active {
    display: flex; 
}

#menu-open.menu-active {
    display: inline; 
}

#menu-close.menu-active {
    display: none;
}

@media screen and (min-width: 640px) {
    nav ul {
        flex-direction: row;
        display: flex; 
    }

    nav ul li {
        text-align: center;
    }

    #navbar {
        display: flex;
    }

    #hamburger-menu {
        display: none;
    }
}