@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Roboto&display=swap');

:root {
    --main-color: #32594a; 
    --primary-alternate: #d79f7f;
    --display-family: 'Merriweather Sans', sans-serif;
    --header-family:'Roboto', sans-serif; 
}

main {
    display: flex;
    flex-direction: column;
    font-family: var(--display-family);
}

#forecast {
    margin: auto;
    align-items: center;
    border: 10px var(--main-color) solid;
    padding: 50px;
    max-width: 300px;
    margin-bottom: 50px;
}

#forecast img {
    max-width: 100px;
    max-height: 100px;
    margin-left: 70px;
}

header {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 5px 10px var(--main-color);
    font-family: var(--header-family);
}

footer {
    box-shadow: 0px 0px 15px var(--main-color);
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

footer img{
    max-height: 200px;
}

#navbar {
    display: none;
}

#menu-open {
    display: none;
}

#menu-close {
    display: inline; 
}

#navbar.menu-active {
    display: flex;
}

#menu-open.menu-active {
    display: inline;
}

#menu-close.menu-active {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    padding: 1rem; 
    list-style: none;
    background-color: white;
    color: black;
    padding-inline-start: 0px;
    margin-block: 0px;
    width: 100%;
}

nav ul li {
    width: 100%;
    padding: 1rem; 
    margin-bottom: 2px;
    text-decoration: none;
}

.third-section ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: larger;
    margin-top: 45px;
}

.third-section ul li {
    padding: 0.5rem;
}

.third-section ul li:hover {
    border: 2px solid var(--main-color);
    border-radius: 20px;
    color: var(--main-color);
}


button {
    background-color: white;
    color: var(--main-color);
    border: 0;
    font-size: 2rem;
}

main img {
    /* margin: auto; */
    margin-top: 20px;
    height: 500px;
    align-items: center;
    z-index: 1;
}

.social-imgs img {
    margin: auto;
    display: inline-block;
    margin-top: 77px;
    width: 40px;
    gap: 60px;
}

#fresh-preview {
    margin: auto;
}

#fruit-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#order-now {
    justify-content: center;
    align-items: center;
    margin: auto;
}

#thank-you {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-imgs-footer {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 40px;
    margin-left: 100px;
}

.social-imgs-footer img {
    margin: auto;
    display: inline-block;
    width: 40px;    
}

.footer-text {
    margin-top: 70px;
    margin-left: 350px;
}

#forecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.about-us-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 30px;
    max-width: 500px;
    border: 10px solid var(--main-color);
    background-color: rgba(241, 238, 238, 0.7);
    z-index: 2;
    margin-top: -150px;
    margin-bottom: 50px;
}

.about-us-preview p {
    max-width: 500px;
    opacity: 100%;
}

#past-orders {
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    border: 5px solid var(--main-color);
    max-width: 200px;
}

/*FRESH RULES */
#fresh-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#fresh-main form{
    margin-top: 40px;
    margin-left: 550px;
    max-width: 100px;
}

#fresh-main input {
    margin-top: 10px;
    margin-bottom: 10px;
}


#order-now {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

#order-now input {
    display: block;
    background-color: white;
    font-size: larger;
    border: 2px solid var(--main-color);
    padding: 10px; 
    border-radius: 20px;
    font-family: var(--header-family);
}

#order-now input:hover {
    color: white;
    background-color: var(--main-color);
}

#order-now.fresh-order {
    margin-top: 20px;
    margin-left: 20px;
}

/* Order Confirmation */

.order-information {
    margin: auto;
    border: 2px solid var(--main-color);
    padding: 1rem;
}

/* About Rules */
#about-main {
    margin: auto;
    display: flex;
    flex-direction: column;
}

#about-main img {
    max-width: 200px;
    max-height: 200px;
    justify-content: none;
    margin: none;
}


#first-section {
    display: flex;
    flex-direction: row;
}

#sub-section {
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 900px) {

    header img {
        max-height: 200px;
    }

    #navbar {
        display: flex;
    }
    
    #menu-open {
        display: flex;
    }
    
    #menu-close {
        display: inline; 
    }
    
    #navbar.menu-active {
        display: flex;
    }
    
    #menu-open.menu-active {
        display: inline;
    }
    
    #menu-close.menu-active {
        display: none;
    }
    
    button {
        display: none;
    }

    nav {
        margin-top: 40px;
        margin-left: 400px;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        padding: 1rem; 
        list-style: none;
        background-color: white;
        padding-inline-start: 0px;
        margin-block: 0px;
        width: 100%;
    }


    nav ul li a:hover {
        color: var(--main-color);
    }

    nav ul li:hover {
        border: 2px solid var(--main-color);
        border-radius: 20px;
    }

    nav ul li {
        display: block;
        justify-content: center;
        align-items: center;
        gap: 40px;
        row-gap: 40px;
    }
    
    nav ul li a {
        width: 100%;
        padding: 1rem; 
        margin-bottom: 2px;
        text-decoration: none;
        display: block;
        color: black;
        font-size: larger;
        justify-content: center;
        align-items: center;
    }

    .third-section {
        margin-left: 50px;
    }

    #fruity-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: 160px;
    }

    #fruity-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: 200px;
        margin-left: 60px; ;

    }

    #fruit-wrapper img {
        max-width: 50px;
        max-height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .fruit-1, .fruit-2, .fruit-3 {
        display: flex;
        flex-direction: row;
        gap: 100px; 
        position: relative;
    }

    #fresh-preview h2 {
        border: 2px solid var(--main-color);
        padding: 10px; 
        border-radius: 20px;
        font-family: var(--header-family);
    }



}