@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex; 
    align-items: center;
    background-color: blueviolet;
    color: whitesmoke;
    border: 2px black;
}

header img{
    margin: 1rem; 
    width: 200px;
    height: 250px;
}

header h1 {
    text-align: center;
    margin-left: -200px;
}

header div:nth-child(2) {
    width: 100%;
}

#content {
    margin: 0 auto; 
    width: 800px;
}

main h2 {
    text-align: center;
}

footer {
    align-items: center;
    background-color: blueviolet;
    color: white; 
    text-align: center;
    padding: 1rem; 
}